/* the top bar of the layout */
.TopBar {
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

/* the paragraph section in the top bar */
.TopBar__Paragraph {
    width: 105px;
    font-size: 13px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.23;
    letter-spacing: normal;
    text-align: right;
    color: #1d428b;
    display: flex;
    justify-content: space-between;
    direction: rtl;
}

/* the image in the paragraph section */
.TopBar__Paragraph img {
    display: none;
}

/* style for space between elements */
.TopBar__Space {
    flex: 1;
}

/* media for wide screens */
@media screen and (min-width: 768px) {
    .TopBar__Menu {
        display: none;
    }

    .TopBar__Paragraph {
        width: 130px;
    }

    .TopBar__Paragraph img {
        display: block;
    }

    .TopBar__Space {
        flex: 0;
    }

    .TopBar__Space__DeskTop {
        flex: 1;
    }

    .TopBar__Space__Small {
        width: 30px;
    }
}