/* style for the IDCard wrapper */
.IDCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* the status section */
.IDCard__Status {
    width: 95px;
    height: 23px;
    border-radius: 16px;
    background-image: linear-gradient(123deg, #e83866 -30%, #e83866 -23%, #e57a3c 56%, #e57a3c 77%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the text in the status section */
.IDCard__Status__Text {
    font-family: LoewNextArabic;
    font-size: 9px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

/* the personal information section */
.IDCard__Card {
    display: flex;
    align-items: center;
}

/* the text in the personal information section */
.IDCard__Card__Texts > p {
    margin-bottom: 5px;
}

/* the first p element in the personal information section */
.IDCard__Card__Texts > p:first-child {
    font-family: LoewNextArabic;
    font-size: 11px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

/* the p element in the personal information section */
.IDCard__Card__Texts p {
    font-family: LoewNextArabic;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #a7b5d2;
}

/* the rate section in the personal information section */
.IDCard__Card__Texts__Rate {
    width: 90px;
    display: flex;
    justify-content: space-around;
}

/* the p element in the personal information section*/
.IDCard__Card__Texts__Rate p {
    font-family: LoewNextArabic;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: right;
    color: #a7b5d2;
}
